/*歌词名 超出部分隐藏*/
.detail-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-play {
  width: 580rpx;
  height: 580rpx;
  background: url(~@/static/disc.png);
  background-size: cover;
  margin: 210rpx auto 44rpx auto;
  position: relative;
}

/*网易云logo*/
.detail-play view:nth-child(1) {
  position: absolute;
  width: 240rpx;
  height: 40rpx;
  align-items: center;
  margin-top: -180rpx;
}

.detail-play view:nth-child(1) image {
  width: 80%;
  height: 100%;
  margin-left: -60rpx;
}

/*旋转臂*/
.detail-play view:nth-child(2) {
  position: absolute;
  width: 170rpx;
  height: 266rpx;
  position: absolute;
  left: 60rpx;
  right: 0;
  margin: auto;
  top: -170rpx;
  background: url(~@/static/needle.png);
  background-size: cover;
}
.detail-play view:nth-child(3){
  width: 380rpx;
  height: 380rpx;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}
.detail-play view:nth-child(3) image {
  width: 380rpx;
  height: 380rpx;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
	animation: 10s linear infinite move;
	animation-play-state: paused;
  border-radius: 50%;
}
/*播放旋转图片、播放按钮*/
.detail-play view:nth-child(3) .detail-play-run {
  animation-play-state: running;
}

.detail-play view:nth-child(3) text {
  width: 100rpx;
  height: 100rpx;
  font-size: 100rpx;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: white;
}

@keyframes move {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/*歌词*/
.detail-lyric {
  height: 246rpx;
  line-height: 82rpx;
  font-size: 32rpx;
  text-align: center;
  color: #949495;
  overflow: hidden;
}

.active {
  color: white;
}

.detail-lyric-wrap {
  transition: .5s;
}

.detail-lyric-item {
  height: 82rpx;
}
/*相似歌曲*/
.detail-like {
  margin: 0 32rpx;
}

.detail-like-title {
  font-size: 36rpx;
  color: white;
  margin: 50rpx 0;
}

.detail-like-list {}

.detail-like-item {
  display: flex;
  margin-bottom: 38rpx;
  align-items: center;
}

.detail-like-img {
  width: 82rpx;
  height: 82rpx;
  border-radius: 15rpx;
  overflow: hidden;
  margin-right: 20rpx;
}

.detail-like-img image {
  width: 100%;
  height: 100%;
}

.detail-like-song {
  flex: 1;
}

.detail-like-song view:nth-child(1) {
  color: white;
  font-size: 30rpx;
  width: 70vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10rpx;
}

.detail-like-song view:nth-child(2) {
  font-size: 22rpx;
  color: #a2a2a2;
  width: 70vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-like-song image {
  width: 34rpx;
  height: 22rpx;
  margin-right: 10rpx;
}

.detail-like-item text {
  font-size: 50rpx;
  color: #877764;
}
/*评论*/
.detail-comment {
  margin: 0 32rpx;
}

.detail-comment-title {
  font-size: 36rpx;
  color: white;
  margin: 50rpx 0;
}

.detail-comment-item {
  display: flex;
  margin-bottom: 28rpx;
}

.detail-comment-img {
  width: 66rpx;
  height: 66rpx;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 18rpx;
}

.detail-comment-img image {
  width: 100%;
  height: 100%
}

.detail-comment-content {
  flex: 1;
  color: #cac9cd;
}

.detail-comment-head {
  display: flex;
  justify-content: space-between;
}

.detail-comment-name view:nth-child(1) {
  font-size: 24rpx;
}

.detail-comment-name view:nth-child(2) {
  font-size: 20rpx;
}

.detail-comment-like {
  font-size: 30rpx;
}

.detail-comment-text {
  line-height: 40rpx;
  color: white;
  font-size: 28rpx;
  margin-top: 16rpx;
  border-bottom: 1px #595860 solid;
  padding-bottom: 40rpx;
}